<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isBlack</key>
		<false/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>1</string>
		<key>dayStr</key>
		<string>MON</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>1th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<true/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>2</string>
		<key>dayStr</key>
		<string>TUE</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>2th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<false/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>3</string>
		<key>dayStr</key>
		<string>WED</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>3th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<true/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>4</string>
		<key>dayStr</key>
		<string>THU</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>4th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<false/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>5</string>
		<key>dayStr</key>
		<string>FRI</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>5th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<true/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>6</string>
		<key>dayStr</key>
		<string>SAT</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>6th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<false/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>7</string>
		<key>dayStr</key>
		<string>SUN</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>4th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isBlack</key>
		<true/>
		<key>month</key>
		<string>APRIL</string>
		<key>dayNum</key>
		<string>1</string>
		<key>dayStr</key>
		<string>MON</string>
		<key>dayThings</key>
		<array>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>4th Buy a mac</string>
				<key>time</key>
				<string>in a hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Meeting with hotel company</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Call Jason home</string>
				<key>time</key>
				<string>in 4 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Buy some food</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Get some Beer</string>
				<key>time</key>
				<string>in a hour</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to Sleep</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Go to School</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Do some homework</string>
				<key>time</key>
				<string>in 3 hours</string>
			</dict>
			<dict>
				<key>logoStr</key>
				<data></data>
				<key>thing</key>
				<string>Watch TV</string>
				<key>time</key>
				<string>in 2 hours</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
